<div class="clearfix text-center" style="margin-top: 15%;">
    <!--<label for="pdf" id="pdfTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-pdf_format"></i><br>
			<br>
			<span data-i18n="export.pdf-file">Get PDF File</span><br>
			<input name="file" id="pdf" type="radio" value="pdf">
	</label> -->

    <label for="csv" id="csvTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-csv_format"></i><br>
			<br>
			<span data-i18n="export.csv-file">Get CSV File</span><br>
			<input name="file" class="hide exportValue" id="csv" type="radio" value="csv">
	</label>

    <label for="excel" id="excelTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-csv_format"></i><br>
			<br>
			<span data-i18n="export.excel-file">Get Excel File</span><br>
			<input name="file" class="hide exportValue" id="excel" type="radio" value="excel">
	</label>

    <label for="sinp" id="sinpTile" disabled="disabled" class="tile-inside text-center">
		<i class="icon-five reneco reneco-csv_format"></i><br>
		<br>
		<span data-i18n="export.sinp-file">Get SINP/GINCO File</span><br>
		<input name="file" class="hide exportValue" id="sinp" type="radio" value="sinp">
	</label>

    <label for="gpx" id="gpxTile" class="tile-inside text-center">
			<i class="icon-five reneco reneco-gpx_format"></i><br>
			<br>
			<span data-i18n="export.gpx-file">Get GPX File</span><br>
			<input name="file" class="hide exportValue" id="gpx" type="radio" value="gpx">
	</label>
</div>

<div class="sinpMetadata hidden">
    <h3 class="text-center">Saisissez l'identifiant SINP du jeu de données à exporter</h3><br/>
    <input name="refSinp" class="form-control " placeholder="exemple : 0A0000AA-00A0-000A-A000-0000A0A00A0A" id="sinpref">
</div>